.form-control {
  margin: 5px;
  padding: 5px;
}

.input-special {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid gray;
  border-radius: 10px;
  position: relative;
  padding: 2px;
  // height: 2rem;
  margin: 10px;

  input {
    font-size: 1rem;
  }
}