@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&family=Tilt+Neon&display=swap');

//font-family
$base-font: 'Poppins';
$footer-font: 'Tilt Neon';

// colors
$primary: #F5FBFF;
$secondary: #BDD5E7;
$tertiary: #88acca;
$fourth:  #222725;
$fifth: #263D42;
$six: #4F5D75;

//font-sizes
$main-title: 2rem;
$main-heading: 1.7rem;
$sub-heading: 1.3rem;
$base-size: 1rem;

//icon-sizes
$base-icon-size: 50px;

//font-color
$default-font-color: black;
$default-sidebar-color: white;

//imgs icons
$defaut-img-logo: 64px;